[2018-05-13 18:46] bertoost opened #1 "Add support for modules in Craft 3"
Hi there,
The plugin looks really great. Unfortunate are modules (uninstallable plugins) not yet supported. This should be.
Thanks!

[2018-05-13 18:48] bertoost opened #2 "Loading template translations failed"
When clicking a template, I'll receive this error;

![image](https://user-images.githubusercontent.com/398492/39970626-00a081da-56ef-11e8-8e3a-927c29b3d2c2.png)

The AJAX response is;
Forbidden: User not permitted to access this source

What could this be?

[2018-05-15 01:08] andrelopez commented on #2
Hi @bertoost

Could you please confirm that you have more than one site on you Craft CMS setup?
Also, this error comes up specifically with the _details.html.twig_ template ?

Best

[2018-05-15 05:44] bertoost commented on #2
Hi @andrelopez
I have configured multiple websites. They are not yet working, but I defined them already.
And it's not coming from the previewed template. All templates show that error
Thanks!
Regards, Bert

[2018-05-18 10:19] stenvdb opened #3 "Import as CSV possible?"
I'm curious, I see there's a download as CSV option, but it is also possible to import your translations in bulk as CSV?

Notify

- [x] [1543418451517100001](https://mail.zoho.com/zm/#mail/folder/inbox/p/1543418451517100001)

[2018-05-18 11:48] andrelopez commented on #3
Hi @stenvdb we'll add this feature in the next release.

Best,

[2018-06-06 12:35] andrelopez commented on #2
The error message says something about permissions. @bertoost Have you logged in as an admin?

I'm still unable to recreate this issue

[2018-06-07 11:12] bertoost commented on #2
Maybe that’s because I am running sites in Docker. The php container is different than the Nginx web server of course. I will try to figure that out.

[2018-06-13 13:12] andrelopez opened #4 "Invalid parameter: lang - Yandex"
Yandex don't support 'lang' by region, for example:

nl-BE
->
nl

----
Notify:

- [ ] [001](https://app.drift.com/inboxes/63412/conversations/119888694?statusFilter%5B%5D=OPEN)

[2018-07-02 22:55] andrelopez commented on #2
Hi @bertoost

We just released v1.1.0 could you please upgrade and check if the issue is solved?

Best,

[2018-07-03 13:47] frontedbe opened #5 "{{ "now"|date('Y') }} gets translated too as "now""
### Description

[view image](https://cl.ly/sgBj)

### Steps to reproduce

1. add {{ "now"|date('Y') }} somewhere
2. Check the Translate plugin for the "now" occurrence

### Additional info

- Craft version: Craft CMS 3.0.13.2
- PHP version: 7.1.16
- Database driver & version: MariaDB stable 10.3.7
- Plugin version: 1.1.0

[2018-07-05 06:11] andrelopez commented on #2
Hey @bertoost

I was able to recreate this issue and should be fixed in the latest version V 1.1.1

Please let me know if works for you.

Best

[2018-07-05 06:11] #2 closed, assigned to andrelopez

[2018-07-05 07:18] bertoost commented on #2
Thanks guys! I am not (yet) actively using it. Will try it out next few days.

[2018-07-07 14:35] #4 closed, assigned to andrelopez

[2018-08-28 07:18] jan-dh opened #7 "Possibility to change plugin name in admin panel"
### Description
Would be nice to give a custom name to the plugin in the admin panel. Makes it easier to find for customers.

[2018-08-28 12:04] andrelopez commented on #7
Hi @jan-dh, this feature will be available in the next release. I'll let you know when is released.

[2018-08-28 13:56] jan-dh commented on #7
Nice, thanks for the quick reply!

[2018-09-12 21:07] andrelopez commented on #7
Hi @jan-dh

This feature is added in v1.1.3 you can override the plugin name in the General settings of the plugin,

Best,

[2018-09-12 21:07] #7 closed, assigned to andrelopez

[2018-09-19 08:22] kaspar-allenbach opened #8 "Nothing showing up"
### Description

I Installed the demoversion of your plugin via Plugin Store. But there is nothing showing up. Is this becaus I'm in demo mode?

Shouldn't there now all tags with the filter `| t ` be displayed?

![bildschirmfoto 2018-09-19 um 10 18 45](https://user-images.githubusercontent.com/762213/45740380-7048c900-bbf5-11e8-82db-d3bd790d9af1.png)

### Steps to reproduce

1. Install the plugin

[2018-09-19 17:26] andrelopez commented on #8
Hi @kaspar-allenbach

Thanks for reaching out. Have you tried clicking the "Pending" filter in the sidebar menu?

[2018-09-21 09:48] frontedbe commented on #5
Hey there,

Experiencing same type of issue with craft.entries.section('xxx').all() where the 'xxx' shows up in the Translations plugin. Any idea wether it could and/or when will be fixed? Thanks!
I attached a screenshot to illustrate the issue => [view screenshot](https://cl.ly/1a1a80e48e28)

[2018-09-23 12:21] piotrpog opened #9 "Link do documentation in github page is down"
This link:
https://enupal.com/craft-plugins/enupal-translate/docs/
returns 404.

[2018-09-24 21:13] andrelopez commented on #9
Hi @piotrpog

Thank you for reporting this issue and should be fixed now.

Best

[2018-09-24 21:13] #9 closed, assigned to nobody

[2018-09-24 21:14] andrelopez commented on #8
Hi @kaspar-allenbach

Any updates about this issue?

[2018-09-25 06:16] piotrpog opened #10 "Use all static message strings from translations directory"
Can plugin be modified so that it uses all strings used inside 'translations' directory, even if these are not directly used in templates?

Use case: to make dropdown fields labels multilingual, i use them as kays inside static messages translations files. So, no actual translation strings are directly used in template, but like this:
`{{entry.dropdown_field.label|t}}
`

[2018-09-26 06:53] kaspar-allenbach commented on #8
Nope. Nothing is happening.

Everywhere I click I get a «Unknown Error occured» at the top
![bildschirmfoto 2018-09-26 um 08 52 51](https://user-images.githubusercontent.com/762213/46062273-90ced100-c169-11e8-9536-16f0e254837b.png)

[2018-09-26 07:16] kaspar-allenbach commented on #8
I get this in the error log:

`2018-09-26 09:03:31 [-][1][-][error][TypeError] TypeError: Argument 1 passed to craft\services\TemplateCaches::includeElementInTemplateCaches() must be of the type integer, string given, called in /path/vendor/craftcms/cms/src/helpers/Template.php on line 176 and defined in /path/vendor/craftcms/cms/src/services/TemplateCaches.php:248`

Does this have anything to do

[2018-09-28 12:12] frontedbe opened #11 "Possibility to save in db?"
Would be great if there's a possibility to save translations in db records (like this C2 plugin did => https://github.com/WHITEdevelopment/craft-translate )
Main issue with saving in translation files is that when saving translations on the production server by the client, the page gets refreshed and not all the modified translations get loaded from the translations file (somekind of lag on the se

[2018-09-28 17:04] andrelopez commented on #10
Yes, but you need to create a private file in your templates e.g: `_customTranslations.twig`

In this file please add any translation that you want e.g the string from your dropdown fields:
`templates\_customTranslations.twig`
[code]
Go to Enupal Translate and you'll see these translation strings as `pending`, select the language that you want to translate, add the translation, save it and go to t

[2018-09-28 17:15] andrelopez commented on #8
Thanks for following up.

Could you please try clear caches? in your Craft CMS dashboard go to Utilities->Clear caches-> All

If the error persists could you please clean the craft log file at storage/logs/web.log and recreate the issue and then send back to us the log file to support@enupal.com ?

Thank you

[2018-10-01 08:43] piotrpog commented on #10
@andrelopez Thanks for reply. Indeed, its possible to use this walkaround, but I was asking if it was possible to just implement this functionality in plugin :)

[2018-10-01 14:10] piotrpog opened #12 "Display multiple translation inputs at once"
Some developers dont use their static translations like this:
`{{'Good morning'|t}}`
But like this:
`{{'homepage_welcome_message'|t}}`

Reason for this is making translations more robust - with first option if i wanted to change english "good morning" string to something else, ("good day" maybe?) all other languages translation variables attached to this string would stop working. Even changing fi

[2018-10-02 08:48] kaspar-allenbach commented on #8
sent you an email

[2018-10-12 10:53] Djive opened #13 "Google Translate API doesn't seem to support regional lang codes"
Tried to translate from "en" to "hr-HR" and got error message shown below.
When I tried to translate from "en" to "hr", then its working fine.

2018-10-12 12:36:05 [-][1][-][error][enupal\translate\contracts\GoogleCloudTranslate::translate] Translate error: Client error: `POST https://www.googleapis.com/language/translate/v2?q=Your+name&target=hr-HR&source=en&key=xxxxxxxxxxxxxxxxxxxxxxxxxxxx` resu

[2018-10-12 12:22] Djive opened #14 "Translation for plugins in control panel"
Not sure if this is duplicate of this: https://github.com/enupal/translate/issues/1

For testing purposes I translated one plugin through Enupal translate plugin.
It created the translated file but the translated plugin didnt change language in control panel.
I copied this file from plugin folder to /translations/lang-code folder.
But I still don't get anything translated when i visit the translat

[2018-10-12 18:31] andrelopez commented on #14
Hi @Djive

This issue is solved in v1.1.4 Could you please update the plugin and let us know if that solves the issue?

Best

[2018-10-17 13:58] andrelopez commented on #14
Hi @Djive

Could you please share us the translation tag used in your plugin templates? Remember to use the handle of your plugin e.g

`{{ 'Hello world'|t('plugin-handle') }}`

[2018-10-17 13:59] andrelopez commented on #13
Hi @Djive

This issue is solved in v1.1.4 could you please update the plugin and let us know it is solved?

Best,

[2018-10-17 14:04] andrelopez commented on #10
Hi @piotrpog

Could you please share a better example? I'm not sure if I follow your requirement

Best,

[2018-10-18 12:18] Djive commented on #14
Everything is working ok.
We had EN as the set language in Control Panel because our lanugage is not supported.
Thats why nothing was showing.

Thanks!

[2018-10-18 12:18] #14 closed, assigned to nobody

[2018-10-18 12:30] Djive commented on #13
Craft CMS 3.0.27.1
Enupal Translate 1.1.4

Still getting this error when trying to translate from en to hr-HR (en to hr is working):

2018-10-18 14:23:59 [-][1][-][error][enupal\translate\contracts\GoogleCloudTranslate::translate] Translate error: Client error: `POST https://www.googleapis.com/language/translate/v2?q=Ticket&q=Are+you+sure+you+want+to+delete+the+selected+tickets%3F&q=Tickets+delete

[2018-10-24 17:09] andrelopez commented on #8
Hi @kaspar-allenbach

Could you please update your plugin to version 1.1.5 and let me know if the issue is solved?

Best,

[2018-10-24 17:14] andrelopez commented on #13
Hi @Djive

Thanks for following up, Could you please update your plugin to v1.1.5 and let me know if the issue is solved?

Best,

[2018-10-25 07:32] kaspar-allenbach commented on #8
Hi. Yes I will. I'm sorry I have a huge workload right now.

[2018-10-25 14:18] andrelopez commented on #8
No problem @kaspar-allenbach other user with the same error just confirmed us that the issue was solved.

Best,

[2018-10-25 14:18] #8 closed, assigned to andrelopez

[2018-10-30 00:45] #13 closed, assigned to andrelopez

[2018-11-01 19:32] piotrpog commented on #10
@andrelopez
Sorry for not replying earlier.

Its just about where plugin should look for translation strings.
Currently it looks inside template files. I propose that it also checks translation files (inside `translations ` folder) for any strings that are not currently used in templates.

[2018-11-06 07:33] kaspar-allenbach commented on #8
okay. I've updated everything. Now the things show up 👌

[2018-11-06 07:39] kaspar-allenbach opened #15 "CMD + S not working"
Thats just a tiny detail: In you plugin it is not possible to save via `CMD + S` or `CTRL + S` on windows, like in the rest of craft.

[2018-11-06 12:56] andrelopez commented on #15
Thanks for reporting, I'm on it!

[2018-11-19 15:07] jhealey5 opened #16 "usergroup restricted to one site can't save translations unless you click the dropdown again"
### Description
We have a multisite with a number of user-groups for translators. Each group is assigned to a language and that language only. If that user-group tries to make a translation through enupal, it doesn't save (even after waiting for the delay/refreshing).

It appears to fix it if you click the dropdown and select the language again. Or if you assign the default site to that group too.

[2018-11-19 16:43] andrelopez commented on #16
Hi @jhealey5

I'll try to recreate this issue and I'll let you know if I have any questions.

Best,

[2018-11-20 15:01] andrelopez commented on #16
Hi @jhealey5

We just released Enupal Translate v1.1.6 with a fix for this bug and also "CMD+S" support

[2018-11-20 15:01] #16 closed, assigned to andrelopez

[2018-11-20 15:01] andrelopez commented on #15
Hi @kaspar-allenbach

We just released Enupal Translate v1.1.6 with a fix for this bug

Best,

[2018-11-20 15:01] #15 closed, assigned to andrelopez

[2018-11-29 01:22] andrelopez commented on #11
Hi @mdominguez

Sorry, but we don't have plans to save translations in the db while Craft handles it via translation files.

When you save a translation you need to switch to the `translated` filter

Please let us know if you have any other question

Best,

[2018-11-29 01:22] #11 closed, assigned to andrelopez

[2018-12-03 16:08] frontedbe commented on #11
What do you mean exactly?
The issue I'm having occurs in the controlpanel, after saving translations there's some kind of "lag" so the old translations get loaded instead of the ones I just saved.. But after a refresh the new ones occur :)

[2018-12-10 12:02] stevenvandemoortele commented on #11
For everybody else experiencing lag when using this plugin:

The lag you're experiencing is most likely caused by php opcache.
You can fix this by adding the translations file to your opcache blacklist.
If you don't manage your server yourself you'll need to contact your hosting provider to do this.
[more info](https://en.code-bude.net/2017/02/11/how-to-disable-php-opcache-for-certain-directories/

[2018-12-19 03:29] andrelopez commented on #3
Hi @stenvdb

We just released Enupal Translate v1.1.7 and added support for import CSV files.

Best

[2018-12-19 03:29] #3 closed, assigned to andrelopez

[2018-12-21 15:38] Bergrebell opened #17 "Enupal installation fails with db exception."
### Description
Enupal installation fails with db exception.

### Steps to reproduce

1. require via UI or through `composer require `enupal/translate`
2. install via /admin/settings/plugins

### Additional info

- Craft version: 3.0.36
- PHP version: 7.2.11
- Database driver & version: Maria DB
- Plugin version: 1.1

### Stacktrace
[code]

[2018-12-21 23:26] andrelopez commented on #17
Thanks @Bergrebell I'm on it

[2018-12-22 04:22] andrelopez commented on #17
Hi @Bergrebell  this issue is fixed in Enupal Translate v1.1.8

Happy holidays!

[2018-12-22 04:22] #17 closed, assigned to andrelopez

[2019-01-06 15:41] piotrpog opened #18 "Plugin thinks variable is translation string"
This piece of code:
[code]
Causes `{{prev.url}}` and `{{next.url}}` appear on translation string list.

[2019-01-08 22:39] missmatsuko opened #19 "Strings listed even though they're not supposed to be translated"
### Description
May be related to #18 and #5, I'm finding class names listed in Translations.

I definitely don't want this happening, because I want Translations to be available to content authors, and they could break the site layout by translating class names.

I'm having a hard time figuring out which template(s) these strings are coming from because:
1. Most of my templates are in a folder, a

[2019-01-08 22:45] missmatsuko opened #20 "Duplicates appearing in translations"
### Description
Well, I actually didn't want these numbers appearing in Translations anyways (#19), but I'm seeing duplicate entries for the same number (e.g. `2`) and I don't think that should be happening, either.

I'm not sure if they appear twice it's because they appear in different files, or because it's a number..?

### Steps to reproduce
I can't provide more details at this time. Let me kn

[2019-01-08 22:56] missmatsuko commented on #12
@andrelopez What more info do you need? The last part of the post is a bit confusing, but I think I understand the ask.

If I understand correctly, this is a feature request to display the translation from the site's default language as an additional column in the Translations listing. This is so translators can refer to it instead of the translation string from the template, which may just be a p

[2019-01-09 13:49] piotrpog opened #21 "Twig variable containing all translations"
Sometimes I need to trasfer craft translation strings from twig to js. Unfortunetly i have to declate each string manually, like this:

`var js_variable = '{{'craft_language_string'|t}}'; `

So, can you create Twig variable that would contain all translations for current language, so i can loop trought them?

[2019-01-09 20:40] piotrpog commented on #12
@missmatsuko
Yes, thats exactly what i meant.

[2019-01-10 15:06] Bergrebell commented on #19
same here.

in one of our twig-files there is this string:

`{% set layoutClass = 'pageBuilder-imageSingle-is' ~ block.layout|capitalize %}`

and the plugin extracts

` object-fit: { objectFit };` as a translation.

[2019-01-10 17:16] missmatsuko commented on #21
I think this should be possible in Craft and Twig already by looping through all the locales and getting that translation.

I'm not sure the exact syntax, but [Craft's doc for `|t`](https://docs.craftcms.com/v3/dev/filters.html#translate-or-t) links to [Yii's docs for `t()`](https://www.yiiframework.com/doc/api/2.0/yii-baseyii#t()-detail) which has a parameter for `$language`.

[2019-01-10 17:17] missmatsuko commented on #12
I was just thinking it might be useful for the translator to be able to pick any available locale as the reference language, since they may have an easier time translating from a language other than the default language.

[2019-01-12 02:58] andrelopez commented on #19
Hi folks,

It looks like the regular expression used by Enupal Translate need to be updated. I'll look into this over the weekend and I hope to have the new regex working by the end of the next week.

Best,

[2019-01-13 23:02] piotrpog commented on #5
Yep, I also got it, just used
`{{ 'now'|date('Y') }}`

[2019-01-14 14:22] gijsstegehuis opened #22 "Plugin incompatible with load balanced environments"
Due to the current nature of this plugin it's impossible to run it in a load balanced environment.
e.g. the translations file will get updated on serverX but not on serverY, thus only showing the correct translations on serverX.

A possible solution to this would be to store the translation rows in a database and then write a new translation file every time the rows are changed. This also requires

[2019-01-24 22:11] andrelopez commented on #22
Hi @gijsstegehuis

We recommend installing [Enupal Backup](http://plugins.craftcms.com/enupal-backup) to backup the translations files when your site goes live.

[2019-01-25 07:14] gijsstegehuis commented on #22
Hi @andrelopez. I am not sure how that's going the fix the problem i described.
Can you explain what you mean exactly?

[2019-01-25 07:14] boboldehampsink commented on #22
fwiw: my plugin was incompatible with load balanced environments as well and worked the same way this plugin does.

[2019-01-25 07:28] gijsstegehuis commented on #22
Ah yeah, mixed some plugins up i guess.
The proposed solution above, however, could still work.

[2019-01-25 17:31] missmatsuko commented on #19
Also noticed some of my more complex translation strings are not getting captured. Don't know if it's because of the complexity or just the new lines?

e.g.
[code]

[2019-01-25 17:56] missmatsuko commented on #19
Played with the regex a little. It looks like the current regex will match any filter containing `t`.

e.g. `{{ 'whatever'|trim }}` `{{ 'whatever'|split }}` `{{ 'whatever'|whatever }}` all match.

Adding a `/s` flag to the end of the Regex enables capturing across multiple lines, so the example in my previous comment would get captured.

I'm not sure what all the valid translation filters/function

[2019-01-26 08:48] missmatsuko commented on #22
I didn't realize until today that this plugin only generates the translation files. I expected it to store user-entered translations in the database. Probably not going to use it in a production environment since I'm worried the translation file will get out of sync or get deleted, etc.

[2019-01-26 11:52] andrelopez commented on #19
@missmatsuko  I love your regex, the only problem with that regex is that does not accept more than one filter to the right:

`{{ 'example'|uppercase|t }}`

however if the `|t` it's always the first filter it works:

`{{ 'example'|t|uppercase }}`

Please let me know if you can find a solution to this issue and I'll consider adding your regex 👍

[2019-01-26 18:41] missmatsuko commented on #19
@andrelopez I don't think it would be useful to capture strings with filters applied before the translate filter (e.g. `{{ 'example'|uppercase|t }}`) with a RegEx search anyways. The captured string would still be 'example', but the translation string would need the filter applied to become 'EXAMPLE' for the translation to actually process as expected, and I don't think this plugin handles that.

[2019-01-27 17:40] andrelopez commented on #19
Hi @missmatsuko @Bergrebell

Thanks for all the feedback. We just released Enupal Translate v1.2.0 where we added a regex search API. So as twig|html has complex scenarios, we have added a `Twig search method` setting under `Enupal Translate -> Settings -> General` where you can choose the search method. Currently, there are two methods available
 - **Legacy search method:** this is the old method

[2019-01-27 17:40] #19 closed, assigned to andrelopez

[2019-01-27 18:21] andrelopez commented on #18
Hi @piotrpog

This issue is solved in Enupal Translate v1.2.0

You'll need to update the `Twig search method` setting under `Enupal Translate -> Settings -> General` to use the `Optimized search method`.

More info [here](https://github.com/enupal/translate/issues/19#issuecomment-457938150)

[2019-01-27 18:21] #18 closed, assigned to andrelopez

[2019-01-27 18:28] andrelopez commented on #5
Hi @mdominguez

This issue is solved in Enupal Translate v1.2.0

You'll need to update the `Twig search method` setting under `Enupal Translate -> Settings -> General` to use the `Optimized search method`.

More info [here](https://github.com/enupal/translate/issues/19#issuecomment-457938150)

[2019-01-27 18:28] #5 closed, assigned to andrelopez

[2019-01-29 12:53] piotrpog commented on #21
@missmatsuko I searched around a bit and didn't found a way to loop through translations without using a plugin.

[2019-02-11 09:51] piotrpog opened #24 "Don't strip comments"
I sometimes put informations in comments inside translation files that are important for developers. Plugin stripping these informations is pretty inconvinient.

[2019-02-22 15:52] sarianth commented on #10
Hi  @piotrpog

When you say translation files  (inside translaion folder) did you mean .php or .twig files?

[2019-02-22 18:22] piotrpog commented on #10
@sarianth
I mean php files inside `translations` directory. Now it just scans twig files in `templates` directory.

[2019-02-22 18:26] piotrpog commented on #24
Another comment related idea - comments with specific prefix could be actually used to create headers that would separate groups of translation strings.

[code]
This would generate "group of strings" header separating inputs in enupal translate control panel section.

[2019-03-22 08:56] stevenvandemoortele commented on #10
+1 for adding support for translation files inside translation folder. I use freeform for most of my forms and the recommended translation method for form labels is creating a freeform.php translation file. Currently these files can't be translated using enupal translate.

[2019-04-24 10:12] mike-db88 opened #25 "Cannot select variable name"
Sometimes i want to select and copy variable name to find where it is used in templates.
Yet i cannot do this because variable name has `user-select: none`.

[2019-05-20 12:24] piotrpog opened #26 "Incorrect detection of translation string"
I have such Twig code:
[code]
Enupal translate shows `_svg/arrow.svg` as translation string instead `side_search`.

[2019-05-29 14:16] andrelopez commented on #26
Hi @piotrpog

Could you please go to Enupal Translate -> Settings and set the "Twig search method" to `Optimized twig search method` Save your settings and see if that solves the problem?

Best,

[2019-08-21 12:01] TomDeSmet opened #27 "Feature Request: remove deleted translation strings from translation.php files"
I noticed that when:

1. adding a translation string in a template `{{ 'WordToTranslate'|t }}`
2. then saving the Enupal Translate list from the CP
3. then removing `{{ 'WordToTranslate'|t }}` again from the template

the corresponding string inside _site.php_ `'WordToTranslate' => 'translation'` (the translation file) remains.

It would be nice if the translation file could be cleaned up when sav

[2019-08-30 11:32] TomDeSmet opened #28 "Google Translate Free gives 404 error"
Maybe the URL needs adjusting? The Google Translate Free option gives a 404 error.

`Client error: `POST https://translate.google.com/translate_a/single?client=t&hl=en&dt=t&sl=nl&tl=fr&ie=UTF-8&oe=UTF-8&multires=1&otf=0&pc=1&trs=1&ssel=0&tsel=0&kc=1&tk=108424.496886` resulted in a `400 Bad Request` response:`

[2019-09-29 15:26] #26 closed, assigned to andrelopez

[2020-01-20 13:50] monachilada opened #29 "Feature Request: Auto-detect strings in project.yaml"
### Description

It would be super cool if the plugin recognised all of the string I have used to name and describe fields and sections and offer them in the plugin for translation.

I don't see it addressed very often, but I often have the case where I want to localize the CMS for editors in different locales. A great part of the author experience would be even more improved if a user could read

[2020-03-16 15:57] CreateSean opened #30 "Cannot Install on Craft 3.4.9"
### Description
I tried to install this via the command line and got the following errors:

 Problem 1
    - enupal/translate 1.2.0 requires viniciusgava/google-translate-api 2.0.2 -> satisfiable by viniciusgava/google-translate-api[2.0.2].
    - Installation request for enupal/translate ^1.2 -> satisfiable by enupal/translate[1.2.0].
    - Conclusion: remove guzzlehttp/guzzle 6.5.2
    - Conclusi

[2020-03-20 15:22] michaelhartford opened #31 "Translations don't save in Craft 3.4.5; 404 error in logs"
### Description
We recently updated to Craft 3.4.5 from 3.1. We are unable to save translations in the Enupal plugin; the "Translation Saved" message is displayed, but the text reverts to the previous value and the translated text is not rendered on the site.

In the web-404s.log file, I see this error:
HttpException: Template not found: bisg/sisac.html in /var/www/infor.com/prod/vendor/craftcms/c

[2020-03-23 10:31] andrelopez commented on #31
Hi @michaelhartford What is your Twig search method? you can check that setting going to Enupal Translate -> Settings

[2020-03-23 10:33] andrelopez commented on #29
Good idea! I'll research this. Thank you

[2020-03-23 11:39] michaelhartford commented on #31
“Legacy twig search method”

[2020-03-23 12:49] andrelopez commented on #31
Could you please update to "Optimized twig search method" ? If the error persists could you please recreate the error and send back to us a zip file of the following folder? `storage/logs` to support@enupal.com

[2020-03-23 13:07] andrelopez commented on #28
Hi @TomDeSmet We just released Enupal Translate v1.2.1 with a fix to this issue. Thank you.

[2020-03-23 13:07] #28 closed, assigned to andrelopez

[2020-03-23 13:13] andrelopez commented on #30
Hi @CreateSean Could you please send back to us the list of plugins that you have installed to support@enupal.com? It looks like there is a conflict with one of them

[2020-03-23 14:20] CreateSean commented on #30
@andrelopez

Feed Me
Field Manager
Freeform
Gravatar
Imager (will be switching to imager x soon)
Linkit
Position Fieldtype
Redactor
Retcon
SEOmatic
Super Table
Template Comments
User manual
Video embedder
Wordsmith

[2020-03-23 15:17] michaelhartford commented on #31
My email with the logs attached was rejected as the file size exceeded the receiving system’s limits. I’ve uploaded the logs to a Google URL here:

If you’re not able to download, let me know and I can zip up just the files that you need to review.

Thanks!
----

I made the change to “Optimized twig search method” in our stage environment, as the logs should be less noisy there, and the problem st

[2020-03-23 15:25] andrelopez commented on #31
@michaelhartford I'll do some debugging from here

[2020-03-26 13:47] michaelhartford commented on #31
My end user reports " ... nothing shows under the Translated section of Enupal Translate for any site now. The words still appear to be translated on the site, but no translations show at all." She's unable to add new translations for sites that are scheduled to come on line in the next month.

[2020-03-31 17:56] michaelhartford commented on #31
End user is reporting that translated text is now not showing on previously translated pages (this may have been missed after the initial upgrade because of the edge server caching we do); this issue has become much more urgent for us. Is there anything we can do to assist in finding a solution? This is the report I just received:

Hi Michael Hartford unfortunately this has   become more urgent. I

[2020-03-31 18:26] andrelopez commented on #31
Hi @michaelhartford Could you please follow up via email support@enupal.com ?

[2020-04-08 06:39] andrelopez opened #32 "Add support for import behavior on plugins"

[2020-04-14 11:52] michaelhartford commented on #31
Closing the loop on this one, as it turns out to have been a problem with a different plugin:

The Acclaro Translations plugin had a namespace conflict with Craft's static translations loading, preventing the translations from being loaded from the /translations/[lang]/site.php files. Enupal was showing the English text for all translations because it wasn't able to load the translations from the

[2020-04-14 19:54] andrelopez commented on #31
@michaelhartford Thank you for the update

[2020-04-14 19:54] #31 closed, assigned to andrelopez

[2020-04-16 16:32] CreateSean commented on #30
so still can't install this plugin due to the guzzle issue

[2020-04-19 15:34] andrelopez commented on #30
Hi @CreateSean We just released Enupal Translate v1.2.2 with a possible fix to this issue. Please let me know how it goes.

Best,

[2020-04-19 15:34] #30 closed, assigned to andrelopez

[2020-04-20 12:29] CreateSean commented on #30
@andrelopez Yes I'm good now. Thank you.

[2020-05-05 12:01] OwenMelbz opened #33 "Clearing template cache on save"
### Description
When you use template caching, then amend a static translation, the template cache is not cleared, so you cannot see your changes.

You must then manually go into the caches and clear them.

### Steps to reproduce

1. Cache a template e.g.

[code]
2. Visit the page, which will cache it
3. Change the translation via the CMS
4. Refresh the page
5. Old text is still displayed
6. Clear

[2020-05-07 06:52] lenvanessen opened #34 "RFC - Different storage method"
### Description
We love the functionality of this extension. But a lot of our projects are hosted on heroku, meaning anything not in git will be removed upon deployment and generally the client does the translations not the production.

So it would be great if there is an alternative way of storing the translations (DB/S3) so they remain there in between deployments.

[2020-05-07 18:32] CreateSean commented on #34
I was just coming here to make the same request.

I expected that copying the database from live to local would get me the translations. But no, I had to ftp the translations folder down and make sure it was gitignored in the future.

[2020-05-08 18:18] andrelopez commented on #34
This is for sure our more requested feature, I'll look into this and will back with any update

[2020-07-07 16:49] piotrpog opened #35 "Allow translating craft built-in trabslations (App)"
Unless I am missing something, it is not possible to translate craft built-in translations (`app.php` file) using this plugin.

[2020-07-09 10:28] rauwebieten opened #36 "Translation files with custom path"
### Description

When custom translations setup, translations do not save.
They are properly loaded, but not saved.

### Steps to reproduce

I have a custom setup for my translation files (inside storage folder)

        'i18n' => [
            'translations' => [
                'site' => [
                    'class' => 'yii\i18n\PhpMessageSource',
                    'basePath' => '@storage/tra

[2020-10-26 19:44] brandonkelly opened #37 "Fix Composer 2 compatibility"
When installing this plugin with Composer 1, the following deprecation notice is output:

Composer 2 was released on October 24, and is now the default version that will be installed, so it’s critical that this gets resolved ASAP, or people will start getting `Class not found` errors.

To fix, run the following command:

[code]

Then commit your change and [tag a new release](https://craftcms.com/

[2020-10-26 20:48] andrelopez commented on #37
@brandonkelly Fixed on v1.3.1 Thank you!

[2020-10-26 20:48] #37 closed, assigned to andrelopez

[2020-10-26 21:11] brandonkelly commented on #37
Thank you Andre!

[2020-11-16 12:19] andrelopez commented on #34
Hi @CreateSean @lenvanessen We just released Enupal Translate v2.0.0 with support to sync your translations into the DB more info here https://docs.enupal.com/translate/translate/sync-with-db.html

[2020-11-16 12:19] #34 closed, assigned to andrelopez

[2020-11-16 12:22] andrelopez commented on #22
Hi @missmatsuko @gijsstegehuis @boboldehampsink  We just released Enupal Translate v2.0.0 with support to sync your translations into the DB more info here https://docs.enupal.com/translate/translate/sync-with-db.html Please let me know if you have any questions

[2020-11-16 12:22] #22 closed, assigned to andrelopez

[2020-11-18 18:38] piotrpog opened #39 "[bug] Plugin translations are saved to site.php file"
Today i tried to overwrite some freeform translation of freeform plugin through control panel.
This caused all freeform translations appearing in my `translations/pl/site.php` file, instead `translations/pl/freeform.php` file.
Then i reverted changes to file using git, and saved translations of some other plugin.
This caused both freeform and this other plugin translations to be appended to `site.

[2020-11-18 19:09] andrelopez commented on #39
Hi @piotrpog could you please provide the next info?

- Craft version:
- PHP version:
- Database driver & version:
- Plugin version:

[2020-11-18 20:29] piotrpog commented on #39
@andrelopez
This is my system info:

Application Info
PHP version	7.2.1
OS version	WINNT 10.0
Database driver & version	MySQL 5.5.5
Image driver & version	GD 7.2.1
Craft edition & version	Craft Pro 3.5.15.1
Yii version	2.0.38
Twig version	2.12.5
Guzzle version	6.5.5

Plugins
Comments	1.6.6
Cookies	1.1.12
CP Field Inspect	1.2.3
Craft Commerce	3.2.12
Craft Image helpers	1.0.4
Element API	2.6.0
Eleme

[2020-11-19 07:46] andrelopez commented on #39
@piotrpog thanks for following, could you please confirm your Enupal Translate version? (can't see it in the list)

[2020-11-19 10:49] piotrpog commented on #39
@andrelopez
Its 2.0.0 - I changed plugin menu name to custom name and it seems it changed here too :)

[2020-11-25 08:45] andrelopez commented on #39
Hi @piotrpog on your Craft CMS dashboard please go to Enupal Translate -> Settings -> Plugins and enable `Create Plugin's translation folder` and try again.

However, this will create the translations in the vendors/plugin/translations folder and will probably be overridden in the next update of the plugin. (This feature was thinking on plugin developers, so they can add easily translations of the

[2020-11-26 13:50] nitech opened #40 "How to translate field names, category group names etc w/o getting translation file overwritten"
### Description
I use field names and category group names in my templates. I want to translate them. So I output thus:

[code]

Then I add an entry to `/translations/language/site.php, for instance:

[code]
The category group name gets translated.

But when I do changes inside Enupal Translate, the site.php file gets overwritten - and as far as I see I can't edit or transalte these kinds of texts

[2020-12-20 09:29] justinmacleod opened #41 "Missing primary key causes errors when MySQL's sql_require_primary_key variable is set"
### Description

We are using this plugin for an existing website that we are in the process of migrating to DigitalOcean. We plan on using their Managed Database service. While importing the database export, we discovered an issue that prevented the `craft_enupaltranslate_message` table from being created. This table does not contain a primary key which causes the import to fail if the MySQL vari

[2021-02-17 11:14] jan-dh opened #42 "Work together with dynamic translations set by Freeform"
### Description
In Freeform you can now translate values dynamically like so
[code]

docs:
https://docs.solspace.com/craft/freeform/v3/setup/translating.html#front-end-template-translations

This provides a very needed solution to the fact that before this you had to create new forms for each new language.
Since those values are being set within freeform, they are not being picked up by enupal tra

[2021-03-29 06:36] belkin opened #43 "Cannot install latest version on Craft 3.6.11.1"
### Description
I'm trying to install Translate plugin on latest Craft 3.6.11.1 but I'm getting the following error:

` Problem 1
    - stichoza/google-translate-php v3.2.15 requires guzzlehttp/guzzle ~6.0 -> found guzzlehttp/guzzle[6.0.0, ..., 6.5.5] but the package is fixed to 7.3.0 (lock file version) by a partial update and that version does not match. Make sure you list it as an argument for

[2021-04-06 13:04] jan-dh commented on #43
Any update on this? Not being able to install the plugin is a bit of a pain :)

[2021-04-08 07:43] andrelopez commented on #40
@nitech sorry Enupal Translate only supports static translations

[2021-04-08 07:45] andrelopez commented on #42
@jan-dh Sorry Enupal Translate only support static translations

[2021-04-10 16:00] andrelopez commented on #43
hi @belkin we just released Enupal Translate v2.2.0 could update the plugin and try again and let me know if that works?

[2021-04-10 16:01] andrelopez commented on #41
Hi @justinmacleod we just released Enupal Translate v2.2.0 with a fix to this issue. Thanks for reporting

[2021-04-10 16:01] #41 closed, assigned to andrelopez

[2021-04-12 08:03] belkin commented on #43
Hey @andrelopez,

During the installation I still get error but this time is another one:

`Problem 1
    - enupal/translate 2.2.0 requires viniciusgava/google-translate-api 2.1.0 -> satisfiable by viniciusgava/google-translate-api[2.1.0].
    - Installation request for enupal/translate ^2.2 -> satisfiable by enupal/translate[2.2.0].
    - Conclusion: remove guzzlehttp/guzzle 7.2.0
    - Conclusio

[2021-04-12 12:05] pvaessen opened #45 "Can't install v2.2.0 on Craft CMS 3.6.11.2"
When trying to do a "craft update enupal-translate" I'm getting the following error:

Output:
================
Yii Migration Tool (based on Yii v2.0.41.1)

Total 1 new Enupal Translate migration to be applied:
    - m210410_000000_add_message_pk

*** applying m210410_000000_add_message_pk

The SQL being executed was: ALTER TABLE `enupaltranslate_message` ADD CONSTRAINT `pk_bbyiihkbgtpqxqyiwokxivlm

[2021-04-12 14:21] MattWilcox opened #46 "Failed update, broken system, needed rolling back."
### Description

Trying to update to the latest version (2.2.0) from 2.0.0

failed to apply m210410_000000_add_message_pk

[code]

### Steps to reproduce

1. composer update

### Additional info

- Craft version: 3.6.11.1
- Database driver & version: MySQL 5.7.33
- Plugin version: 2.0.0

[2021-04-14 09:03] andrelopez commented on #41
@justinmacleod sorry we had to revert the last migration on v2.21, to fix this issue you may need to run the following command on  your db:

`set sql_require_primary_key = off`

[2021-04-14 09:04] andrelopez commented on #46
@MattWilcox Sorry about this issue, please update to v2.2.1 and please let us know how it goes.

[2021-04-14 09:04] #46 closed, assigned to nobody

[2021-04-14 09:05] andrelopez commented on #45
@pvaessen Sorry about this issue, please update to Enupal Translate v2.2.1 and let us know how it goes.

[2021-04-14 09:05] #45 closed, assigned to nobody

[2021-04-14 09:09] andrelopez commented on #43
@belkin could you please send me your composer.json file to support@enupal.com?

[2021-04-23 10:53] MattWilcox commented on #40
Having this issue too! Picked up, of course, the day of Go-Live on a website.

We have Radio Buttons and Dropdowns, where we are outputting the labels on the front end. They *must* be translated, and the normal Craft method would be {{ field.label | t }}.

If this becomes impossible because we're using this plugin, then we need to stop using this plugin. Which is a bummer, but this is essential co

[2021-04-27 09:14] frontedbe commented on #43
Having the same issue when trying to install craftcms/commerce-mollie
[screenshot](https://share.getcloudapp.com/xQubOpJG)

[2021-04-29 08:12] andrelopez commented on #43
@mdominguez I am on it

[2021-05-04 20:16] justinmacleod commented on #41
Unfortunately, that flag isn't possible on DigitalOcean. They require a primary key for their managed database service and will fail to import a table without it (regardless of the flag).

[2021-05-20 11:58] frontedbe commented on #43
@andrelopez Just reaching out if there's any news on this? Thanks man!

[2021-07-06 19:25] RickKukiela opened #48 "Question: Does this work for Entry / fields content?"
I am quoting a  project that needs to use google translate api for translations in 4-5 languages. I see this will work for static template text that needs to be translated, however, what about entry fields? Normally when you have different "language" sites set up in craft, when editing an entry you can switch between languages and fill out the fields in the various languages. Does this plugin prov

[2021-10-04 13:12] belkin commented on #43
Sorry for late input but the problem is solved with fresh composer.lock file. So I've just removed .lock file and after that installation was no issue. Apparently it was een issue with dependencies from other third party plugins.

I'm not closing the issue because I see other people still have issues there. But for our situation it's fixed.

[2021-10-11 16:42] maxpdesign commented on #43
@andrelopez Some plugins are using Guzzle 7 now instead of Guzzle 6. I see that this plugin requires viniciusgava/google-translate-php-client which uses Guzzle 6. They have an open issue (https://github.com/viniciusgava/google-translate-php-client/issues/14) and PR ready for Guzzle 7. Can you confirm this plugin will work with Guzzle 7?

[2022-01-10 20:14] jacotijssen commented on #43
Any news on this?

[2022-01-12 08:40] andrelopez commented on #43
Hi we just released Enupal Translate v2.3.0 with a fix to this issue, please let me know how it goes

[2022-01-12 08:40] #43 closed, assigned to andrelopez

[2022-01-20 17:24] circa1983 opened #51 "Question: Is there a way programatically run "Sync with DB"?"
### Description

Is there a way to programatically run “Sync with DB” via craft cli (console command) or via a shell or php script?

We host our sites on [Servd](https://servd.host/), which uses atomic deployment for all of its sites, this means whenever we update anything (Craft version, plugin updates, template changes, etc), a new environment is created and our static translations are lost!

En

[2022-01-21 15:18] andrelopez commented on #51
Hi @circa1983 Thanks for reaching out. The following line will add the translate sync to the job queue

[code]

_Make sure to run `queue/run` [console command ](https://craftcms.com/docs/3.x/console-commands.html#queue-run)to make sure the job is executed_

[2022-01-31 09:55] circa1983 commented on #51
Hi @andrelopez,

Many thanks for the fast response and thank you for the code snippet, it’s really helpful.

[2022-01-31 09:55] #51 closed, assigned to andrelopez

[2022-05-03 09:52] pvaessen opened #52 "Cannot install latest version on Craft 3.7.25.1"
### Description
We need to install Enupal Translate v 2.3.0 but getting lots of errors.

This is the error log:
[code]

Installation failed, reverting ./composer.json and ./composer.lock to their original content.

### Steps to reproduce

1. composer require enupal/translate:2.3.0 -W
2.

### Additional info

- Craft version: 3.7.25.1
- PHP version: 7.3.1
- Database driver & version: MySQL 8.0.27
-

[2022-05-03 10:24] andrelopez commented on #52
Hi @pvaessen it looks like you have a composer conflict with the `akamai-open/edgegrid-client` lib (currently requires Guzzle 6.x) however it looks like there is a PR opened to add support to Guzzle 7 [here](https://github.com/akamai/AkamaiOPEN-edgegrid-php-client/pull/39) when that PR is merged and `akamai-open/edgegrid-client` release a new version you'll be ready to update the plugin version.

[2022-05-03 10:26] andrelopez commented on #48
Hi @RickKukiela Sorry we don't support field types at the moment.

[2022-05-03 10:26] #48 closed, assigned to andrelopez

[2022-05-03 10:26] #52 closed, assigned to andrelopez

[2022-05-03 14:20] pvaessen commented on #52
We removed the akamai-open/edgegrid-client lib and now we are able to upgrade to v2.3.0
When we now try to open Enupal Translate --> Translations, no matter which country we select, we always are getting this error:
"A server error occurred".
Nothing is logged in the .log files.
Is there a way to figure out what this error is ?
We upgraded from v2.1.1 to v2.3.0 thinking that this would solve our p

[2022-05-04 05:58] andrelopez commented on #52
Hi @pvaessen could you please recreate the issue and send back to us a zip file of the storage/logs folder? Please send the email to support@enupal.com

[2022-05-04 11:38] pvaessen commented on #52
Hi,

We got this to work using the "Legacy search method" for the Twig search method.
The setting "Optimized search method" was always throwing "A server error occurred".

[2022-05-25 09:52] bartdigitalpulse opened #55 "Javascript error. Import file, Sync with DB, Download, ... not working"
### Description

None of the buttons work in enupal-translate/index page. Tried different browsers. Disabling extensions etc...
Local and staging environment.

Can't Import, Sync or download the translations.

The error I get in the inspector:

[code]

This line in enupalTranslate.js seems to be the culprit:
`var $siteMenu = $('.sitemenubtn:first').menubtn().data('menubtn').menu;`

The problem is

[2022-06-08 14:19] bartdigitalpulse commented on #55
Any follow up on this? We use Enupal translate for almost every project. Seems like a small issue to resolve?

[2022-07-09 12:30] adrianjean opened #56 "SQL Error on install: create table {{%enupaltranslate_message}} Unable to create or change a table without a primary key, when the system variable 'sql_require_primary_key' is set."
### Description

I use Digital Ocean managed databases and by default the `sql_require_primary_key` setting is `on`.  When installing this plugin, the installation fails because there seems to be on primary key in a DB entry required on install of this plugin.

Here is the error returned:
[code]
### Possible Solutions?

A. Add a primary key to the SQL install
B. Add some SQL to the header of the p

[2022-07-09 15:30] andrelopez commented on #56
Hi @adrianjean We just released Enupal Translate v2.3.1 with a fix to this error, please let me know how it goes

[2022-07-09 15:30] #56 closed, assigned to andrelopez

[2022-07-09 15:53] andrelopez commented on #55
Hi @bartdigitalpulse, Enupal Translate is designed to translate from different sites, so at least two sites are required to properly use the plugin, just curious about how are you using the plugin having only one site?

[2022-07-12 07:59] bartdigitalpulse commented on #55
We have our own naming system for labels, for example 'translate.cp.volumes.icons'. So our basic setup has these already translated but to add, for example a new volume, we would use this naming system and add the correct translation using Enupal.

Why this method? We had some clients that wanted their Craft Admin panel translated after the site launched. So we had to add a lot of labels manually.

[2022-07-12 12:39] andrelopez commented on #55
@bartdigitalpulse got it thanks for sharing that, working on a fix right now

[2022-07-12 17:22] andrelopez commented on #55
Hi @bartdigitalpulse We just released Enupal Translate v2.3.2 with a fix to this issue. Thanks for reporting

[2022-07-12 17:22] #55 closed, assigned to andrelopez

[2022-08-18 11:49] dowadidi opened #59 "Syncing translations with DB stuck at 50%"
### Description
Syncing translations with DB got stuck at 50%, halting the queue altogether. We ended up having a backlog of 21k tasks before anyone noticed.

### Steps to reproduce
1. Update translation, triggering syncing translations with DB
2. Gets stuck at 50%

### Additional info
- Craft version: 3.7.43
- PHP version: 7.4.30
- Database driver & version: MySQL 5.7.35
- Plugin version: 2.2.1

[2022-10-28 20:05] kerrig commented on #59
We're also running into this same issue. Eventually causing OOM errors as well. If there's no quick fix could we possibly add a config setting to disable the sync queue job for now?

### Additional info
Craft version: 3.7.57
PHP version: 7.3.33
Database driver & version: MySQL 5.5.5
Plugin version: 2.3.2

[2022-11-28 11:11] bleepsandblops opened #60 "Postgresql - issue with db syncing"
### Description
Hello,

The db sync job fails with this error:

`SQLSTATE[42P01]: Undefined table: 7 ERROR: missing FROM-clause entry for table "sourcemessage" LINE 3: INNER JOIN "enupaltranslate_message" "message" ON sourceMess... ^ The SQL being executed was: SELECT "message", "translation", "language" FROM "enupaltranslate_sourcemessage" "sourceMessage" INNER JOIN "enupaltranslate_message" "mes